*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #000000;
}
#sideNavItem{
    color: #f1f1f1;
    font-size: 16px;
    text-align: right;
    text-transform: uppercase;
}
#sideNavItem a:hover{
    background: #4D4D4D;
}
#sideNavItem a:link, a:visited {
    padding: 15px 20px 10px 0;
    display: block;
    width: 200px;
    text-decoration: inherit;
    color: inherit;
}

.active {
	background-color: #1B998B;
	text-decoration: none;
    line-height: 30px;
}

.content {
    margin-left: 200px;
    height: auto;
    width: auto;
    position: relative;
    overflow: auto;
    z-index: 1;
}

.content p, ul, li, a {
	font-size: 13px;
}

/* .info {
    width: 1440px;
    height: 1300px;
    position: relative;
    background: #f55;
} */

section {
    width: 100%;
    display: table;
    margin: 0;
    padding: 90px;
    background-color: #EB5160;
    height: 90vh;
  }
.sectionDark {
    color: #f1f1f1;
}
  /*  ===============  Scrollbar  ===============  */
  .header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }

  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }

  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: #1B998B;
    width: 0%;
  }
  /*  ===============  Scrollbar  ===============  */


  * {box-sizing: border-box}

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 70vh;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display:none;
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 70vh;
}

.decisiontab{
   overflow-y: scroll;
}

/* Paragraph content */
p{
    text-align: justify;
}

/* Table content */
table, th, td {
    border: 1px solid white;
    padding: 5px;
    font-size: 13px;
}

/* Video Border */
.video-class{
    margin: 0 auto;
    border: 10px outset #ddd;
}
